.contacts {
    padding: 70px 0;
    background-color: $blue;
  
    .contacts-wrap {
      margin: 0 -15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  
      @media (max-width: 768px) {        
        flex-direction: column;  
        align-items: center;        
      }
  
      .contacts-location {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 370px;
  
        @media (max-width: 1024px) { 
          max-width: 280px;      
        }
  
        @media (max-width: 768px) {
          margin-bottom: 60px;  
        }
  
        .contacts-location__heading {
          @include header_h5;
          color: $white;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 30px;
  
          @media (max-width: 1024px) { 
            font-size: 14px;    
            margin-bottom: 20px;   
          }
  
          @media (max-width: 768px) {
            margin-bottom: 20px;  
          }
        }
  
        .contacts-location__address {
          @include header_h5;
          color: $white;
          text-align: center;
          
          @media (max-width: 1024px) { 
            font-size: 14px;       
          }
        }
      }
  
      .contacts-social {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 370px;
  
        @media (max-width: 1024px) { 
          max-width: 280px;      
        }
  
        @media (max-width: 768px) {
          margin-bottom: 60px;       
        }
  
        .contacts-social__heading {
          @include header_h5;
          color: $white;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 48px;
          
          @media (max-width: 1024px) { 
            font-size: 14px;       
          }
  
          @media (max-width: 768px) {
            margin-bottom: 20px;  
          }
        }
  
        .contacts-social__icons-list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
  
          .contacts-social__icons-link {
            @include social_link;
  
            .fa-facebook-f:hover {
              @include social_link_transform;
              color: $facebook_color;
              transition: 0.1s;
            }
  
            .fa-twitter:hover {
              @include social_link_transform;
              color: $twitter_color;
              transition: 0.1s;
            }
  
            .fa-linkedin:hover {
              @include social_link_transform;
              color: $linkedin_color;
              transition: 0.1s;
            }
          }
        }
      }
  
      .contacts-about {
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        max-width: 370px;
  
        @media (max-width: 1024px) { 
          max-width: 280px;      
        }
  
        .contacts-about__heading {
          @include header_h5;
          color: $white;
          font-weight: 700;
          text-transform: uppercase;
          text-align: center;
          margin-bottom: 30px;
          
          @media (max-width: 1024px) { 
            font-size: 14px;       
          }
  
          @media (max-width: 768px) {
            margin-bottom: 20px;  
          }
        }
  
        .contacts-about__text {
          @include header_h5;
          color: $white;
          text-align: center;
          text-transform: capitalize;
          
          @media (max-width: 1024px) { 
            font-size: 14px;       
          }
        }
      }
    }
  }